body {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.table-mondrian {
  border: 10px solid black;
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

.table-mondrian td {
  border: 15px solid black;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.narrow-col {
  width: 6.25%;
}

.standard-col {
  width: 12.5%;
}
.dbl-standard-col {
  width: 25%;
}

.wide-col {
  width: 15.625%;
}

.narrow-row {
  height: 6.25vh;
}

.standard-row {
  height: 12.5vh;
}
.dbl-standard-row {
  height: 25vh;
}
