body {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.table-mondrian {
  border: 3px solid black;
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

.table-mondrian td {
  border: 3px solid black;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}
